@charset "UTF-8";

/*----------------------------------- tag style reset */

html{ /* //바디보다 더 상위개념 */
	height: 100%;
}


body{
	margin:0px;
	height: 100%;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

/*----------------------------------- my style cascade */
.hidden{
	display: none;
}

/*----------------------------------- header */
.header{
	height: 45px;
	position:fixed;
	background: #ffffff;
	width:100%;
	border-bottom: 2px solid #e9e9e9;
	border-bottom-style:groove; 
}

.logo{
	width: 45px;
    height: auto;
}	
	
	.header>h1{
	font-size: 14px;
	height:inherit;
	display: flex;
	justify-content:center;
	align-items: center;
	}
	/*----------------------------------- main-menu */
	
	.main-menu{
	position: relative;
	top:-45px;
	}
		
		
		.main-menu ul{
			display: flex;
			justify-content:flex-end;
			/* text-align: center;
			vertical-align: middle;  */
		}
		
		
	
			.main-menu li,
			.main-menu li a{
				width: 45px;
				height: 45px;
				display: flex;
				justify-content:center;
				align-items: center;
				
			}
			
			.main-menu li:nth-child(1) {
    			margin-right: auto; /*applied only to the right*/
			}

/*----------------------------------- visual */	

.visual{
	position: relative;
	top:45px;
	width:auto;
	height: 280px;
}


/*----------------------------------- main */	
.main{
	position: relative;
	top:45px;
}
	.main .recipe-list{
		font-size: 14px;
		line-height: 19px;
		color: #595959;
	}
	 	.main .note-list ul{
			
		}
		
		.main .recipe-list li{
			padding: 15px;
			border: 1px solid #ddd;
		}
		
			.main .recipe-list li>div:first-child{
				font-size: 17px;
				line-height: 21px;
				color: #000;
				
			}
		
			.main .recipe-list li > div:not(:first-child){
				margin-top: 5px;
			}
		
			
			
			.main .recipe-list li > div:last-child {
				font-size: 13px;
				display: flex;
				justify-content: space-between;
				
			}
			
				.main .recipe-list li > div > span:first-child{
					color: #6bacca;
				} 
				
				.main .recipe-list li div:first-child img{
					width: 250px;
   					height: auto;
				}
				
				.main .recipe-list li div:last-child img{
					width: 50px;
   					height: 50px;
				}
			