@charset "UTF-8";

/*----------------------------------- tag style reset */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




html{ /* //바디보다 더 상위개념 */
	height: 100%;
}


body{
	margin:0px;
	height: 100%;
	font-family: 'Lato', sans-serif;
  	background-color: #f8f8f8;
}

ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}


::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}


/*----------------------------------- my style cascade */
.hidden{
	display: none;
}

/*----------------------------------- header */
.header{
	top:0px;
	height: 70px;
	position:fixed;
	background: #ffffff;
	width:100%;
	border-bottom: 2px solid #e9e9e9;
	border-bottom-style:groove; 
	z-index: 100;
}

.logo{
    height: 50px;
    margin-left: 15px;
    margin-bottom: 10px;
   
}	
	
	.header>h1{
	font-size: 18px;
	height:inherit;
	display: flex;
	justify-content:center;
	align-items: center;
	}


/* 옆으로 밀기 */
.main,
.footer,
.visual{
	transition:700ms;
}

	
.main.show,
.footer.show,
.visual.show{
	transform: translate(-322px, 0px);
	transition:700ms;
	opacity: 0.1;

}

/* search-recipe input박스 */


.search-recipe.show{

	display: block;
}


.search-recipe input[type="text"]{
	/* text-align: center;
	height: 40px;
	width: 310px; */
	width: 100%;
    height: 42px;
    padding-left: 0px;
    border: 2px solid #39dbe8;
    border-radius: 5px;
    outline: none;
    background: #fdfdfd;
    color: #000000;
    box-sizing: border-box;
	  
	  
}
.search-recipe input[type="submit"]{
	/* width: 40px;
	height: 40px; */
	position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 40px;
    border: none;
    background: #5fcad4;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
}





	/*----------------------------------- main-menu */
	
	.main-menu{
	position: relative;
	top:-55px;
	}
		
		
		.main-menu ul{
			display: flex;
			justify-content:flex-end;
			/* text-align: center;
			vertical-align: middle;  */
		}
		
		
	
			.main-menu li,
			.main-menu li a{
				width: 45px;
				height: 45px;
				display: flex;
				justify-content:center;
				align-items: center;
				
			}
			
			.main-menu li:nth-child(1) {
    			margin-right: auto; /*applied only to the right*/
			}


.add-memu{
	overflow: scroll;
	font-size:18px;
	top:71px;
	right:-350px;
	display: flex;
	justify-content:flex-end;
	
	transition:700ms;
	
	position:fixed;
	height: 100%;
	background: /* #f4f7f6 */black;
}

.add-memu.show{
	right: 0px;	
	
}

.add-memu ul li:hover{
	background: #fbd259; 
	font-size: 24px;
	transition:100ms;
}

	.add-memu ul{
		font-weight:bold;
		color: white;
		background: black;
		text-align: center;
		height: 920px;
	}
	
	.add-memu ul li{
	
		width: 320px;
		height: 70px;
		color: white;
		background: black;
		border: 1px solid #ececec;
		box-sizing: content-box;
		line-height: 70px;
	}
	.add-memu ul .profile{
	
		height: 350px;
    	background: #202120;
	}

/*----------------------------------- visual */	

.visual{

}

.visual img {
	width: 100%;
    min-height: 250px;
    vertical-align: bottom;
    margin-top: 70px;
    

}

@media screen and (max-width: 640px) {
    .change-image {
        margin-top: 70px;
        padding-top: 50%; 
        background: url(../images/index-door.png) no-repeat center;
        background-size: contain;
    }
    .change-image img {
        display: none; /* PC용 이미지를 보이지 않게 처리 */
    }
}

.visual-line{
	height: 15px;
	background: #6ccfc3;
}

    
/*----------------------------------- main */	
.main{
	margin-top: 70px;

}
	.main .recipe-list{
		font-size: 14px;
		line-height: 19px;
		color: #595959;
	}
	
		.main ul{
		display: flex;
		flex-wrap: wrap;
		justify-content:space-around;
		
	}
		.main .frame{
		box-sizing: border-box;
		border: 2px solid gainsboro;
		position: relative;
		box-shadow: 0px 0px 10px #505b5a;
	}

		
/* 미디어 쿼리 */

@media screen and (max-width:400px) {
	.main .frame>div:first-child {
		width: 130px;
		height: 120px;
	}
	.main .frame {
		width: 140px;
		height: 200px;
		margin-bottom: 45px;
	}
	.search-recipe {
		position: relative;
		width: 300px;
		margin: -35px auto;
		display: none;
		}
		
     body .container .half{
     width: 100%
     }
     
     body .container .half.bg{
     display: none;
     }
     
}
     
            
@media screen and (min-width: 400px) and (max-width:1020px) {
	.main .frame>div:first-child {
		width: 190px;
		height: 150px;
	}
	.main .frame {
		width: 200px;
		height: 250px;
		margin-bottom: 90px;
	}
	
		.search-recipe{
	position: relative;
	width: 450px;
	margin: -35px auto;
	display: none;
	}
	
	body .container{
	width: 450px;
	}
	
	body .container .half{
     width: 100%
     }
}

@media screen and (min-width: 1020px) {
	.main .frame>div:first-child {
		width: 250px;
		height: 200px;
	}
	.main {
		margin-left: 150px;
		margin-right: 150px;
	}
	.main .frame {
		width: 250px;
		height: 300px;
		margin: 20px 0px 100px 0px;
	}
	
	.search-recipe{
	position: relative;
	width: 600px;
	margin: -35px auto;
	display: none;
}
	body .container{
	width: 900px;
	}
	
	body .container .half{
	width: 50%
	}
}


.main .frame div:first-child img{
    width: 94%;
    height: 60%;
    padding: 0;
    position: absolute;
    border: 1px solid black;
    margin: 3%;
}

.main .frame div:nth-child(2){
    padding: 5%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
	
}



		
.main .frame div:nth-child(3) div:nth-child(1){
	padding:5%;
	font-size: 0.8em;
	position:absolute;
	left:0px;
	bottom: 0px;
	
	
}	
	.main .frame div:nth-child(3) div:nth-child(2) img{
	position:absolute;
	right:5px;
	bottom: 5px;
	max-width: 30px;
	max-height: 30px;
}	

.like-button.show{
	background: url(../images/like.png);
	position:absolute;
	right:5px;
	bottom: 5px;
	max-width: 30px;
	max-height: 30px;
}			



/* .line{
	height: 5px;
	background: 	#78e7ef;
	
} */
			
/*----------------------------------- footer */	

.footer{
	height: 200px;
	background: black;
}

.footer div{
    height: 20px;
    background: #6ccfc3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer p{
	min-height: 25px;
    text-align: center;
    background: #000000;
    color: white;
    font-size: 12px;
    margin: 0px;
    padding-top: 10px;
    
}


/* ★login */

.l-box{
	display: flex;
}



body .container {
  position: relative;
  overflow: hidden;
  height: 650px;
  margin: 80px auto 0;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
body .container .half {
  float: left;
  height: 100%;
  padding: 5%;
}

body .container .half.bg{
	width: 50%;
	height: 100%;
}

body .container .half.bg img{
	width:100%;
	height:100%;
}
body .container h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  text-align: center;
  text-indent: 6px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #263238;
}
body .container .tabs {
  width: 100%;
  margin-bottom: 29px;
  border-bottom: 1px solid #d9d9d9;
}
body .container .tabs .tab {
  display: inline-block;
  margin-bottom: -1px;
  padding: 20px 15px 10px;
  cursor: pointer;
  letter-spacing: 0;
  border-bottom: 1px solid #d9d9d9;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
}
body .container .tabs .tab a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #d9d9d9;
  transition: all 0.1s ease-in-out;
}
body .container .tabs .tab.active a, 
body .container .tabs .tab:hover a {
  color: #263238;
}
body .container .tabs .tab.active {
  border-bottom: 1px solid #263238;
}
body .container .content form {
  position: relative;
  height: 287px;
}
body .container .content label:first-of-type, body .container .content input:first-of-type, body .container .content .more:first-of-type {
  -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label:nth-of-type(2), body .container .content input:nth-of-type(2), body .container .content .more:nth-of-type(2) {
  -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label:nth-of-type(3), body .container .content input:nth-of-type(3), body .container .content .more:nth-of-type(3) {
  -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label:nth-of-type(4), body .container .content input:nth-of-type(4), body .container .content .more:nth-of-type(4) {
  -moz-animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label:nth-of-type(5), body .container .content input:nth-of-type(5), body .container .content .more:nth-of-type(5) {
  -moz-animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label:nth-of-type(6), body .container .content input:nth-of-type(6), body .container .content .more:nth-of-type(6) {
  -moz-animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1);
  -webkit-animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1);
  animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1);
}
body .container .content label {
  font-size: 12px;
  color: #263238;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body .container .content label:not([for='remember']) {
  display: none;
}
body .container .content input.inpt {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 42px;
  margin-bottom: 12px;
  padding: 16px 13px;
  color: black;
  border: 1px solid #d9d9d9;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
body .container .content input.inpt::-webkit-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .container .content input.inpt:-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .container .content input.inpt::-moz-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .container .content input.inpt:-ms-input-placeholder {
  font-size: 14px;
  color: #999999;
  font-family: 'Lato', sans-serif;
}
body .container .content input.inpt:focus {
  border-color: #999999;
}
body .container .content input.submit {
  font-size: 12px;
  line-height: 42px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #263238;
  border: 1px solid #263238;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
body .container .content input.submit:hover {
  background-color: #263238;
  color: #ffffff;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body .container .content input:focus {
  outline: none;
}
body .container .content .checkbox {
  margin-top: 4px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  margin: 17px -1px;
  padding: 0;
  border: 0;
}
body .container .content .checkbox + label {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
}
body .container .content .checkbox + label:before {
  content: "\A";
  color: #999999;
  font-family: Verdana;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: transparent;
  border: 1px solid #d9d9d9;
  width: 11px;
  height: 11px;
  margin: -2px 8px 0 0;
}
body .container .content .checkbox:checked + label:before {
  content: "✓";
}
body .container .content .submit-wrap {
  position: absolute;
  /* bottom: 0; */
  width: 270px;
  margin-top: 15px;
}
body .container .content .submit-wrap a {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #999999;
}
body .container .content .submit-wrap a:hover {
  text-decoration: underline;
}
body .container .content .signup-cont {
  display: none;
}

@keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}
@-webkit-keyframes slideIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    margin-left: -320px;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    margin-left: 0px;
  }
}
.credits {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #999999;
  font-size: 14px;
  margin: 0 10px 10px 0;
}
.credits a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

/* ★recipe-list */

.select-recipe-option{
    margin-top: 100px;
    border: 5px solid #5fcad4
}

.select-recipe-option ul li:first-child {
	background: yellowgreen;
}

.select-recipe-view{
    display: inline-flex;
    margin: 5% 0px 30px;
    width: auto;
    cursor: pointer;
	
}

.select-recipe-view li:first-child{
    background: #5fcad4;
}
.select-recipe-view li{
    background: #95a5a3;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
}

/* ★aide */
.chef-aside{
}

.chef-aside ul li:first-child{
	position: fixed;
	bottom: 30px;
	right: 30px;	
}
.chef-aside ul li:nth-child(2){
	position: fixed;
	bottom: 120px;
	right: -50px;	
	transition: all 0.5s ease-in-out;
	transition-delay: 0.2s
}
.chef-aside ul li:nth-child(2).show{
	position: fixed;
	bottom: 120px;
	right: 30px;	
	transition: all 0.5s ease-in-out;
}
.chef-aside ul li:nth-child(3){
	position: fixed;
	bottom: 210px;
	right: -50px;	
	transition: all 0.5s ease-in-out;
	
}
.chef-aside ul li:nth-child(3).show{
	position: fixed;
	bottom: 210px;
	right: 30px;	
	transition: all 0.5s ease-in-out;
	transition-delay: 0.2s
}

.chef-aside ul li img{
	width: 50px;
	height: 50px;
}

/* ★timer */
.timer{
    display: none;
    background: white;
    border: 2px solid #5fcad4;
    position: fixed;
    bottom: 25px;
    left: 5px;
    height: 60px;
    width: 240px;
    text-align: center;
    margin-left: auto;
    left: -50px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.timer.show{
	display:block;
}

.timer #expireMin {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-top: 10px;
}
.timer #expireSecond {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-top: 10px;
}

.time-end{
    display: none;
    margin: auto;
    width: 300px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.time-end.show{
	display:block;
}

/* ★menu */

.select-recipe-option2{
	margin-top:70px;
	background: #5fcad4;
	height: 30px;
	width: auto;
	cursor: pointer;
	box-shadow: 0px 4px 5px #2a5069;
	position: relative;
}

.select-recipe-option2 img{
	position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.a span{
	width: 120px;
    display: block;
    color: #fff;
    background: #57a4a5;
    margin: 0 3px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 5px;
}

 .a{
 	border:1px solid #57a4a5;
 	transition:300ms;
 	margin-top: -412px;
 	position: relative;
 }
 .a.show{
	transition:300ms;
 	margin-top: 70px;
 }
 
 .a>div{
 	height: 340px;
 }
 
 .a input[type="submit"]{
 	position: absolute;
 	bottom: 50px;
 	right: 5%;
 	width: 100px;
 	height: 30px;
 }
 
 /* ★reg */
 .reg-form{
 	margin-top: 100px;
 }
 .reg-form div span{
 	display: inline;
 	
 }
 
.reg-frame{
 }
 
 .reg-frame > div{
 	margin:10px 10px 10px 10px;
	border-radius:5px;
 	background: #eecec1;
 	padding: 10px;
 	border: 3px solid #252525;
 }
 
 .reg-frame > div >span{
	display: block;
    background: #000000;
    width: 100px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
 }
 
 .reg-frame > div >input{
    background: white;
    width: 270px;
    height: 30px;
 }
 
 .reg-frame .add-ingredient> div>input {
    background: white;
    width: 270px;
    height: 30px;
 }
 
  .reg-frame > div > textarea{
      width: 270px;
      min-height: 100px;
  }
 
 
   .reg-frame > div > input[type="button"]{
   	margin-top:10px;
   	width: 50px;
   }
 
 
.recipe-order p{
	display: inline-block;
} 
 
 

.add-ingredient .btn-cancel{
	position: relative;
    left: -33px;
    top: 8px;
    opacity: 0.1;
}
 
.recipe-order .btn-cancel{
    position: relative;
    opacity: 0.1;
    bottom: -6px;
}

.btn-cancel:hover{
    opacity: 1;
}
 
 
 .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .btn{
 	background: #000000;
    margin: 20px;
    color: white;
    border-radius: 10px 0 10px 0;
    height: 35px;
    width: 100px;
 }
 
 
 
 
 select { 
    width: 86px;
    padding: 0.5em 0.4em;
    font-family: inherit;
    background: white url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 100% 0%;
    border: 1px solid #999;
    border-radius: -5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

 
 /* ★join */
 
 
 /* ★detail */
.detail-container{
    width: 100%;
    height: auto;
    border: 5px solid black;
    /* position: relative; */
 }
 
 .representative-img>img{
   border: 5px solid;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 500px;
 }
 
 .detail-container .profile>img{
  width: 85px;
    height: 85px;
    border: 3px solid #ada6a6;
    border-radius: 40px;
    background: red;
    z-index: 1;
    margin-top: -45px;
    position: absolute;
    margin-left: 5%;
 }
 
 .profile>span{
 	width: 85px; */
    background: white;
    z-index: 1;
    margin-top: 43px;
    position: absolute;
    margin-left: 5%;
    min-width: 85px;
    text-align: center;
    font-size: 25px;
 }
 
 .detail-title{
	position: relative;
    top: -45px;
    height: auto;
    text-align: center;
    font-size: 25px;
 }
 
 .detail-main{
	height: auto;
    border: 5px solid;
    top: 144px;
    margin-top: 240px;
 }
 
 .detail-main p{
 	padding-left: 5%;
    padding-right: 5%;
 }
 
 .detail-main .semi-box{
 	top: -120px;
 	position: relative;
 }
 
 .detail-main .semi-box li img{
    padding: 15px;
    border-radius: 50px;
 }
 
 .detail-main .semi-box li span{
    position: absolute;
    top: 80px;
    margin-left: -85px;
    font-size: 12px;
    width: 100px;
    text-align: center;
 }
 
 
 .using-ingredient{
 	min-height: 150px;
    border: 3px solid black;
    margin-top: 25px;
 }
 
 .using-ingredient span{
 	margin-top: 15px;
 	display: inline-block;
    width: 49%;
    text-align: center;
 }
 
 .step-order{
 	border: 3px solid;
    min-height: 200px;
    margin-top: 50px;
 }
 
 .step-order div img{
 	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 200px;
    border: 3px solid green;
 }
 
 .step-order span{
 	margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
 }

.step-order p{
	text-align: center;
    padding: 5%;
}

.reply-window{
	border: 3px solid;
    min-height: 150px;
    margin-top: 20px;
    padding: 5%;
    
}
 
 .reply-window>p{ 
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6e7e8;
}

.reply-window>div{
	border-bottom: 1px solid #e6e7e8;
}

.reply-window>div>div{
    width: 55px;
    height: 55px;
    border: 1px solid;
    border-radius: 35px;
    position: absolute;
}
 
 .reply-window>div p{
 	position: relative;
    right: -65px;
    margin-right: 70px;
    }
    
     .comment-form{
     min-height: 200px;
      padding: 20px;
      margin-top: 10px;
       border: 1px solid #DADDE0;
       border-width: 1px 0;
       background-color: #F1F4F8;
   }
   
   .comment-form textarea{
      width: 100%;
       height: 36px;
       padding: 0 11px;
       border: 1px solid #DBDFE5;
       font-size: 15px;
       color: #9199A4;
       line-height: 17px;
       color: #000;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
   }
   
   .comment-form 
   input[type="password"]{
      margin-left:10px;
   }
      
   .comment-form textarea{
      min-height: 90px;
      padding: 10px;
   }
   
   .comment-form form>div{
      margin-top:10px;
   }

   .comment-form form>div:first-child{
      margin-top: 0px;
   }
   
   .comment-form form div:nth-child(2) {
	float: right;
}
   .comment-form form div:nth-child(2) input{
	margin: 0px
}
    
    
    
/* ------ */


.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label {
  color: #fff;
    background-color: #5fcad4;
    border-color: #298f98;
}